{% extends 'Home.html' %}

{% block content %}
<center>
    <div class="back" style="color:black;">
        <h1> Stergeți produs</h1>
        <form method = "post">
            <p style="font-size:25px;">Produs:</p>
                <select name="produs">
                    {%for product in products%}
                        <option>{{product['produs_id'], product['nume_produs']}}</option>
                    {%endfor%}
                </select>
            <br>
            <br>
            <button class="button" type="submit" name="change" value="Delete">Delete</button>
        </form>
    </div>
</center>
{% endblock %}}