{% extends 'Home.html' %}

{% block content %}
<center>
    <div class="back" style="color:black;">
        <h1> Detalii vânzare </h1>
            <p style="font-size:22px">Număr bon : <b><i>{{bon}}</i></b></p>
            <hr>
            {%for detail in details%}
                    {%for product in products%}
                        {%if detail['produse_produs_id'] == product['id']%}
                            <h2>Produs: {{detail['produse_produs_id']}}&nbsp;&nbsp; {{product['name']}}</h2>
                            <p style="font-size:22px;">Cantitate: {{detail['cantitate_cumparata']}}</p>
                            <p style="font-size:22px">Preț: {{product['pret']}}&nbsp;lei</p>
                             {% for client in clients %}
                                {% set x = 0 %}
                                {% if bon == client['bon']%}
                                    {% if client['card'] != 0  %}
                                        <p style="font-size:22px"><i>Card de fidelitate: -20%</i></p>
                                        {% set x = 1 %}
                                    {% endif %}
                                {% endif %}
                                {% if client['data'] == '06-01' %}
                                    <p style="font-size:22px"><i>Ziua copilului: -50%</i></p>
                                    {% set x = 1 %}
                                {% endif %}
                                {% if x == 1 %}
                                    <p style="font-size:22px">Preț: {{detail['pret_final']}}&nbsp;lei</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}

            <br>
            <hr>
            <h3 style="font-size:25px;">Total: {{price}}</h3>
    </div>
</center>

{% endblock %}