{% extends 'Home.html' %}

{% block content %}
<center>
    <div class="back" style="color:black;width:700px;">
        <h1>Contact</h1>
        <br>
        <br>
        <p style="font-size: 25px;"><b><i>ID: {{library['librarie_id']}}</i></b></p>
        <p style="font-size: 22px;">Adresă: {{library['adresa']}}</p>
        <p style="font-size: 22px;">Telefon: {{library['telefon']}}</p>
        <p style="font-size: 22px;">Email: {{library['email']}}</p>
    </div>
</center>
{%endblock%}